<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>SI-FACTORY</title>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"-->
<!--          rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"-->
<!--          crossorigin="anonymous">-->
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Item')"></nav>

<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Buat Item Baru</h2>
                <br>
                <form th:action="@{/item/add}" method="POST" onsubmit="return confirm('Apakah anda yakin untuk request item?');">
                    <input type="hidden" name="userNamePegawai" th:value="${#httpServletRequest.userPrincipal.name}">
                    Nama Item : <br>
                    <input class="form-control" type="text" name="nama"/>
                    <br><br>

                    Harga Item: <br>
                    <input class="form-control" type="number" name="harga"/>
                    <br><br>

                    Stok Item : <br>
                    <input class="form-control" type="number" name="stok"/>
                    <br><br>

<!--                Untuk Kategori Item-->

                    Kategori Item : <br>
                    <select name="kategori">
                        <option value="1">BUKU</option>
                        <option value="2">DAPUR</option>
                        <option value="3">MAKANAN & MINUMAN</option>
                        <option value="4">ELEKTRONIK</option>
                        <option value="5">FASHION</option>
                        <option value="6">KECANTIKAN & PERAWATAN DIRI</option>
                        <option value="7">FILM & MUSIK</option>
                        <option value="8">GAMING</option>
                        <option value="9">GADGET</option>
                        <option value="10">KESEHATAN</option>
                        <option value="11">RUMAH TANGGA</option>
                        <option value="12">FURNITURE</option>
                        <option value="13">ALAT & PERANGKAT KERAS</option>
                        <option value="14">WEDDING</option>
                    </select>
                    <br><br>

                    <!--Untuk Kategori Item (retrieve from db)-->

<!--                    <table class="table">-->
<!--                        <thead>-->
<!--                            <th>Kategori Item :</th>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        <tr th:each="item, iterationStatus : *{listKategori}">-->
<!--                            <td>-->
<!--                                <select name="kategori" th:field="*{listKategori[__${iterationStatus.index}__].kategori}"-->
<!--                                        class="form-control">-->
<!--                                <div th:each="itemEx, iterationStatus2 : *{listKategori}">-->
<!--                                    <option th:value="${itemEx.kategori}" th:text="${itemEx.kategori}"></option>-->
<!--                                </div>-->

<!--                            </td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->


                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a href="/"
                    ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-left"
                            viewBox="0 0 16 16"
                    >
                        <path
                                fill-rule="evenodd"
                                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
                        />
                    </svg>
                        Home</a
                    >
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>