<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>SI-FACTORY</title>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
</head>
  <body>
  <nav th:replace="fragments/fragment :: navbar('Pegawai')"></nav>
    <div class="container">
      <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Pegawai</h2>
                <br>
                <form th:action="@{/pegawai/add}" th:object="${pegawai}" method="POST" onSubmit="return confirm('Apakah Anda yakin untuk menambahkan pegawai?')">
                    <p th:text="${message}" class="alert alert-info" role="alert"></p>
                    <label>Username</label>
<!--                    <p th:text="*{username}"></p>-->
                    <input type="text" name="username" class="form-control" />
              <label>Nama</label>
              <input type="text" name="nama" class="form-control" />

              <label>Email</label>
              <input type="email" name="email" class="form-control" />

              <label>Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                title="Password harus mengandung angka, huruf besar, huruf kecil, dan simbol serta minimal memiliki 8 karakter"
              />

              <label>Role</label>
              <select name="role" class="form-control">
                <option selected value="">--Pilih role--</option>
                <option
                  th:each="role : ${listRole}"
                  th:value="${role.idRole}"
                  th:text="${role.role}"
                ></option>
              </select>

              <label>Tanggal Lahir</label>
              <input type="date" name="tanggalLahir" class="form-control" />
              <br />

              <button type="submit" class="btn btn-primary" name="save">
                Simpan
              </button>
                  <a href="/"
                  ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-arrow-left"
                          viewBox="0 0 16 16"
                  >
                    <path
                            fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
                    />
                  </svg>
                    Home</a
                  >
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
