<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <style>
        .disabled{
    background-color: rgb(209, 206, 206);
    cursor: not-allowed;
    }
    </style>
    <meta charset="UTF-8">
    <title>si-Factory</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>    
<body>
<nav th:replace="fragments/fragment :: navbar('item')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 style="text-align: center;">Update Stok Item</h2>
                <br>
                <form th:action="@{/item/update-stok/rui/} + ${ruiId}"  method="POST" onsubmit="return confirm('Apakah anda yakin untuk update stok item?');">
                    <input type="hidden" name="userNamePegawai" th:value="${#httpServletRequest.userPrincipal.name}">
                    Jumlah Stok : <br>
                    <input class="disabled" type="number" name="jumlahStok" th:value="${stokTambahan}" readonly="true"/>
                    <br><br>

                    Mesin : <br>
                    <select name="idMesin" class="form-control">
                        <option th:each="mesin : ${listMesinfiltered}"
                                th:text="${mesin.namaMesin}"
                                th:value="${mesin.idMesin}">
                        </option>
                    </select>
                    <br><br>

                    <button class="btn btn-primary" type="submit" name="save" onclick="myFunction()">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <a href="/"
        ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-left"
                viewBox="0 0 16 16"
        >
            <path
                    fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
            />
        </svg>
            Home</a
        >
</div>


</body>
</html>